footer {
    color: #031a6f;
    background-color: #9aaced;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    margin: 76px auto 0 auto;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.dissapear {
    display: none;

}

.footer-text-container {
    display: block;
    width: 100%;
    text-align: center;
    align-items: center;
}

.footer-text-container p{
    margin: 3px 0px 3px 0px;
}

@media screen and (max-height: 700px) {
    footer {
        display: none;
    }
}

@media screen and (min-height: 750px) {
    footer {
        display: none;
    }
    
}