footer {
    color: #031a6f;
    background-color: #9aaced;
    display: block;
    font-size: 18px;
    position: absolute;
    bottom: 0;




}

.footer-text-container {
    width: 100%;
    text-align: center;
    align-items: center;
}

@media screen and (max-height: 600px) {
    footer {
        display: none;
    }
}