.create {
    color: #031a6f;
    margin: 80px auto 217px;
    font-size: 16px;
}

.create-form-container{
    align-items: center;

    margin: auto;
    width: 180px;
    background-color: #9aaced;
    padding: 8px 20px 8px 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(120, 124, 242, 0.2), 0 6px 20px 0 rgba(14, 101, 241, 0.19);

}

#create-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}


element.style {

}


.create-input {
    margin: auto;
    font-size: 14px;
    display: block;
    color: #031a6f;
    border-radius: 6px;
    width: 174px;
    height: 20px;
    padding: 2px;
}

.create-description {
    resize: none;
    height: 100px;
}

.create-photo-upload{
        font-size: 15px;
}

#file-upload{
border-radius: 10px;
}

#create-submit {
    color: #031a6f;
    font-size: 14px;
    background-color: #9aaced;
    border-color: #031a6f;
    border-radius: 12px;
    margin: 12px 0px 10px 52px;
    padding: 5px 15px 5px 15px;
}