.details {
    background-color: #9aaced;
    color: #031a6f;
    width: 800px;
    height: 355px;
    margin-top: 60px;
    border-radius: 16px;
    ;


}

.details-offer-text-container {
    padding-left: 18px;
}

.details-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.editBtn {
    margin-left: 192px;
}


.details-description {
    margin: 13px 0px 0px 0px;
}

.details-user-container {

}

.details-user-contacts-container{
    display: flex;


}

.details-user-contacts-container p{
    margin-top: 16px;
    margin-right: 16px;
}

.details-username {
    display: block;
    margin-bottom: -8px;

}

.details-username{
    display: block;
}

.details-contacts{
   display: block; 
}

.details-phone{
    display: block;
}
                    
.details-email{
    display: block;
}


.details-rating-container {}

.details-rating {
    margin-top: 0px;
}



.details-all-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -14px;
    width: 100%;
    height: 100%;
    height: 130px;
}

.details-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 0px auto 0px 19px;
    align-items: center;
    
}

.details-buttons-container a{
    color: #031a6f;
    margin-right: 40px;
    cursor: pointer;
    text-decoration: none;
    
}
.details-buttons-container a:visited{
    color: #031a6f;

}

.details-add-photo-container{
    margin-left: 80px;
}

.details-label-photo{
    font-size: 14px;
}

.details-add-photo {
display: block;
font-size: 14px;
border-radius: 6px;

}

::-webkit-file-upload-button{
    border-radius: 8px;
    border-color: #031a6f;
    cursor: pointer;
}


.details-edit-submit{
    color: #031a6f;
    margin-left: 22px;
    display: block;
    font-size: 14px;
    background-color: #9aaced;
    border-color: #031a6f;
    border-radius: 12px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}


.delete-submit {
    color: rgb(225, 77, 77);
    border-color: rgb(225, 77, 77);
    font-weight: bold;
    border-style: solid;
    display: block;
    font-size: 14px;
    background-color: #9aaced;
    border-color: #031a6f;
    border-radius: 12px;
    margin: 12px 0px 10px 52px;
    padding: 5px 15px 5px 15px;
    margin-left: 31px;
    cursor: pointer;
    
}