.home{
min-width: 800px;
}

.welcome{
    color:  #6c8af4;
    font-size: 80px;
    margin: 100px 20px 30px 40px;
}

.home-title{
    color: #031a6f;
    text-align: center;
    font-size: 100px;
    margin: 20px 50px 100px 450px;
    
}


.home-subtitle{
    color:#abb8f0;
    font-size: 55px;
    margin: 60px 20px 60px 80px;
    
}
