.profile{
    color: #031a6f;
    margin: 150px auto 270px;
    font-size: 20px; 
}

.profile-form-container{
    align-items: center;

    margin: auto;
    width: 250px;
    background-color: #9aaced;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(120, 124, 242, 0.2), 0 6px 20px 0 rgba(14, 101, 241, 0.19); 
}

.profile-form{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}

.profile-photo{
   display: flex;
   flex-direction: row; 
  
 
}

/* .profile-image{
    display: block;
    
} */

/* .avatar-image{
    
} */

.profile-photo-form{
display: block;
}
#myFile {

}

.profile-input{
    
}

.profile-input{
    margin: auto;
    font-size: 18px;
    display: block;
    color: #031a6f;
    border-radius: 6px;
    width: 200px;
    height: 24px;
    padding: 6px; 
}

.profile-input{
    
}

#profile-submit{
    color: #031a6f;
    font-size: 17px;
    background-color: #9aaced;
    border-color: #031a6f;
    border-radius: 12px;
    margin: 28px 25px 20px 25px;
    padding: 5px 15px 5px 15px;
}