.register {
    color: #031a6f;
    margin-top: 80px;
    font-size: 20px;
}

.register-form-container{
    align-items: center;

    margin: auto;
    width: 250px;
    background-color: #9aaced;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(120, 124, 242, 0.2), 0 6px 20px 0 rgba(14, 101, 241, 0.19);

}

#register-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}



.register-input {
    margin: auto;
    font-size: 18px;
    display: block;
    color: #031a6f;
    border-radius: 6px;
    width: 200px;
    height: 24px;
    padding: 6px; 
    
}

#register-submit {

    color: #031a6f;
    font-size: 17px;
    background-color: #9aaced;
    border-color: #031a6f;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 35%;
    padding: 5px 15px 5px 15px;
}