header {
    background-color: #031a6f;
    width: 65%;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    padding: 1px 35px;
    margin: 5px auto;
    text-align: center;
    align-items: center;
    border-radius: 16px;



}

.site-title {
    color: white;
    text-decoration: 40px;
    font-weight: bold;
    font-size: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    margin: 0 8px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav .profile-link {
    margin-left: auto;
}