header {
    background-color: #031a6f;
    width: 80%;
    display: inline-flex;
    font-size: 23px;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 10px auto;
    /* z-index: 1; */
    text-align: center;
    align-items: center;
    border-radius: 16px;



}

.site-title {
    color: white;
    text-decoration: 40px;
    font-weight: bold;
    font-size: 38px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav .profile-link {
    margin-left: auto;
}